!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Calendar
    = stylesheet_link_tag "clinic_app"
    = csrf_meta_tags

  %body

  = javascript_include_tag "clinic_vendor"
  = javascript_include_tag "clinic_app"




