.page-header
  %h1= @business.name



%h2 You're connected to Google Calendar
%p Your Calendar App account is connected to your google calendar account which means that Calendar App can read and modify appointments in your google calendar.  This is required so that clients can book online. If at any point you wish to revoke Calendar App access to your calendar you can do so here - https://accounts.google.com/b/0/IssuedAuthSubTokens. Be aware however that in doing so your clients will no longer be able to book online.


