.page-header
  %h1 #{current_user.business.name}

%ol
  %li
    = link_to 'Manage your appointment types', user_path(current_user)
  %li
    = link_to 'Manage your availability / working hours', user_path(current_user)
  %li
    %a Grab your custom online booking widget code to add to your website
  %li
    %a Invite other users within your business (optional)