.bundle
.swp
*.swo
*.swp
.sass-cache
db/*.sqlite3
log/*.log
log/*.log.lck
log/*.log.*
tmp/
.idea/*
\#*
.#*
*~
.emacs.desktop
.DS_Store
.emacs.desktop.lock*
coverage
true/
db/schema.rb
*.tmproj
*tags
dump.rdb
spec/javascripts/generated/*
db/development_structure.sql
db/test_structure.sql
db/staging_structure.sql
db/production_structure.sql
db/bootstrap/*.sql
db/bootstrap/*.dump
db/bootstrap/*.bak
db/bootstrap/*.pgz
db/bootstrap/image_fixtures/*
db/bootstrap/image_fixtures/properties/*
public/system
public/stylesheets
public/images
vendor/bundle
config/abr.yml
