body {
  margin: 0;
  padding: 0;
  background: #eee;
}

.page-container {
  margin: 0 auto 20px auto;
  padding: 40px 40px 0 40px;
  background: #fafafa;
  border: 1px solid #ddd;

  .form-actions {
    margin: 0 -40px;
    padding: 20px;
    text-align: center;
  }

}


.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.controls.stacked {

  input, textarea, select {
    margin-bottom: 9px;
    display: block;
  }
}

input[disabled], select[disabled],
textarea[disabled], input[readonly],
select[readonly], textarea[readonly] {
  background: #ddd;
  border-color: #bbb;
  color: #aaa;
}

form {
  margin: 0;
}


input, select, textarea {
  width: 250px;
}

textarea {
  height: 70px;
}

label.help-inline {
  display: block;
}

.no-appointment-times {
  display: none;
  width: 200px;
}

@media (min-width: 480px) {
  .page-container {
    width: 480px;
  }
}

