.modal-header
  %a.close{'data-dismiss' => "modal"} ×
  %h3 Add Appointment Type
.modal-body
  = simple_form_for [@user, @appointment_type] do |f|
    = f.input :name
    = f.input :duration
    = f.input :price
.modal-footer
  %a{'href' => "#", 'class' => "btn btn-primary create"} Create
  %a{'href' => "#", 'class' => "btn cancel"} Cancel