$open-width: 600px
$padding: 30px

.mask
  z-index: 4
  position: absolute
  top: 0
  bottom: 0
  right: 0
  width: 0
  background: rgba(0, 0, 0, 0.5)
  @include transition(all, 1s)
  opacity: 0
  &.is-dirty
    opacity: 1
    width: auto
    left: 0

#editor
  z-index: 5
  position: absolute
  width: 0
  right: 0
  top: 0
  bottom: 0
  background: #fff
  border-left: 10px solid #E3F5D4
  @include box-shadow(rgba(0, 0, 0, 0.2) -2px 0px 15px)
  @include opacity(0)
  @include transition(all, 0.5s)
  overflow-x: hidden
  overflow-y: scroll
  .pad
    padding: 30px
    width: $open-width - $padding * 2
  &.is-editing
    @include opacity(1)
    width: $open-width

  h2
    margin-top: 0
