#header
  background: #f4f4f4
  border-bottom: 1px solid #e2e2e2

  .app-name
    margin-left: 20px
    @include type-setter(1.6, 1.6, normal)
    line-height: $header-height - 1px
    color: #888

@include phone
  #header
    .app-name
      @include type-setter(1.2, 1.2, normal)
      line-height: $header-height-phone