#header
  @include background-image(linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.07)))

  .app-name
    margin-left: 20px
    @include type-setter(1.8, 1.8, normal)
    line-height: $header-height
    color: #eee