$toolbar-bg: #eee
$toolbar-text: #666
$toolbar-height: 45px
$table-row-bg: #eee
$table-row-text: #666
$table-header-height: 46px

.list-container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  ul.toolbar
    height: $toolbar-height
    background: $toolbar-bg
    @include box-shadow(inset 0 0 1px rgba(0, 0, 0, 0.5))
    z-index: 3
    li
      margin: 6px
      padding: 7px 12px
      color: $toolbar-text
      background: darken($toolbar-bg, 5)
      @include border-radius(3px)
      cursor: pointer
      &:hover
        background: darken($toolbar-bg, 10)
        color: darken($toolbar-text, 10)
        @include box-shadow(inset 0 0 3px rgba(0, 0, 0, 0.2))

  .list
    position: absolute
    top: $toolbar-height
    bottom: 0
    left: 0
    right: 0

    .header, .body, .grouped-items
      list-style: none
      margin: 0
      padding: 0
      overflow: hidden
      white-space: nowrap
      background: #fafafa
      .cell
        display: inline-block
        padding: 15px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    .header
      @include box-shadow(rgba(0, 0, 0, 0.2) 0px 3px 5px)
      height: $table-header-height
      position: absolute
      top: 0
      left: 0
      right: 0
      z-index: 2
      overflow-x: hidden
      li
        display: inline-block
        font-weight: bold
    .scroller
      position: absolute
      top: $table-header-height
      bottom: 0
      left: 0
      right: 0
      // overflow: scroll
      z-index: 1
      padding-bottom: 30px
      background: #eee
      li
        overflow: hidden
        white-space: nowrap
        &> a
          display: block
          border-bottom: 1px solid rgba(0, 0, 0, 0.1)
          color: $table-row-text
          &:hover
            background: #fff
            color: darken($table-row-text, 20)
          &.active
            background: #E3F5D4
      li.empty-message
        background: #ccc
        padding: 40px
        @include type-setter(2.6, 2.6, bold)
        color: rgba(0, 0, 0, 0.4)
        @include text-shadow(rgba(255, 255, 255, 0.5) 1px 1px 1px)
        a:hover
          color: rgba(0, 0, 0, 0.6)

  .group-header
    background: darken($table-row-bg, 5)
    @include type-setter(1.2, 1.2, normal)
    line-height: 8px
    color: darken($table-row-text, 5)
    padding: 15px
    span
      display: inline-block
    .count
      background: rgba(0, 0, 0, 0.2)
      @include border-radius(20px)
      @include type-setter(0.8, 0.8, normal)
      @include box-shadow(1px 1px 1px rgba(255, 255, 255, 0.5))
      width: 30px
      height: 30px
      line-height: 30px
      text-align: center
      margin-right: 20px

  .is-today
    .group-header
      background: darken($table-row-bg, 40)
      color: #fff

  .undo-delete-message
    position: absolute
    top: $table-header-height
    left: 0
    right: 0
    height: 0
    background: #E5F5BD
    z-index: 2
    padding: 10px
    line-height: 30px
    border-top: 1px solid #aaa
    opacity: 0
    @include box-shadow(rgba(0, 0, 0, 0.2) 0px 3px 5px)
    @include transition(all, 0.5s)
    overflow: hidden
    &.is-transaction-commit-scheduled
      height: 30px
      opacity: 1
    span
      display: inline-block
      margin-right: 20px
    button
      @include type-setter(0.8, 0.7, normal)

@include phone
  .list-container
    @include type-setter(0.9, 0.9, normal)

    .group-header
      @include type-setter(1, 1, normal)
      line-height: 8px
      .count
        @include type-setter(0.7, 0.7, normal)
        @include box-shadow(1px 1px 1px rgba(255, 255, 255, 0.5))
        width: 25px
        height: 25px
        line-height: 25px
        margin-right: 10px


