<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>New <%= @appointment.appointment_type.name %> appointment with <%= @appointment.client.name %> at <%= @formatted_start_time %></p>
  </body>
</html>