#header ul, #body, #footer {
  margin-left: auto;
  margin-right: auto;
}

#header {
  background: #2C2C2C;
  color: #fff;
  line-height: 19px;
  color: #999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


h2 + .row, h3 + .row, h4 + .row {
  margin-top: 9px;
}