input.currency {
  width: 50px;
}

input.short-number {
  width: 40px;
}

.form-actions {
  position: relative;
}

form label.error {
  position: absolute;
  top: -9999px;
}

select.datetime {
  width: 60px;
}