#user-page {
  .modal {
    display: none;
  }

  .section {
    margin-bottom: 4em;
  }

  .appointment-types, .unavailabilities {
    list-style: none;
    margin: 0 0 1.5em 0;
  }

  .appointment-types li, .unavailabilities li {
    position: relative;
  }

  a.edit {
    cursor: pointer;
    padding: 1em;
    display: block;
    padding-right: 100px;
    color: #888;
    border: 1px solid #fff;
  }
  a.edit:hover {
    background-color: #D9EDF7;
    text-decoration: none;
    border-color: #BCE8F1;
  }

  li a.delete{
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
  }
  li:hover a.delete {
    display: block;
  }
}