.modal-header
  %a.close{'data-dismiss' => "modal"} ×
  %h3 Edit Unavailability
.modal-body
  = render 'form'
.modal-footer
  %a{'href' => "#", 'class' => "btn btn-primary create"} Update
  %a{'href' => "#", 'class' => "btn cancel"} Cancel