.control-group
  %label.control-label Name
  .controls
    %input{:name => 'appointment[client[name]]'}
.control-group
  %label.control-label Email
  .controls
    %input{:name => 'appointment[client[email]]'}

.control-group
  %label.control-label Phone
  .controls
    %input{:name => 'appointment[client[phone]]'}