.page-container
  .page-header
    %h1 Book an appointment

  = simple_form_for [@business, @appointment] do |f|
    %fieldset.form-horizontal
      %legend Appointment Details
      =f.input :user_id, :collection => @business.users, :label => "Practitioner", :label_method => 'full_name', :value_method => 'id', :prompt => "Select a practitioner"
      =f.input :appointment_type_id, :collection => [], :prompt => "Select an appointment type"

      .control-group
        %label.control-label Date and Time
        .controls.stacked
          =select_tag :date, []
          %select{:name => 'appointment[start_time]'}

          .alert.no-appointment-times Sorry, there are no appointment times available for this date. <br/> Please try selecting a different date.



    -if current_user.present?
      %fieldset.form-horizontal
        %legend Client
        =f.input :client_id, :collection => @business.clients, :label => "Client", :label_method => 'name', :value_method => 'id', :prompt => "New client"
        =render 'client_details'
      -else
        %fieldset.form-horizontal
          %legend Your Details
          =render 'client_details'


    %fieldset.form-horizontal
      %legend Is there anything else we should know?
      .control-group
        %label.control-label Comments
        .controls
          %textarea{:name => 'appointment[client[comments]]'}


      .nav-bottom-view.form-actions
        = f.button :submit, :class => 'btn btn-primary submit'


- content_for :javascript, "$(function() { Calendar.ready({businessId: #{@business.id}, public: #{current_user.blank?} });})"