$header-height: 50px
$header-height-phone: 40px
$nav-width: 200px

.view-port
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

#header
  height: $header-height - 1px //account for border

#navigation
  position: absolute
  top: $header-height
  left: 0
  bottom: 0
  width: $nav-width


#main
  position: absolute
  top: $header-height
  left: $nav-width
  right: 0
  bottom: 0

ul.unstyled
  list-style: none
  margin: 0
  padding: 0

ul.horizontal
  list-style: none
  margin: 0
  padding: 0
  li
    display: inline-block

#undo-delete-message
  position: absolute
  top: 5px
  right: 5px
  height: $header-height - 20px
  width: 350px
  background: #E5F5BD
  z-index: 0
  padding: 5px
  line-height: 30px
  border: 1px solid darken(#E5F5BD, 20)
  opacity: 0
  color: #666
  @include border-radius(3px)
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 0px 5px)
  @include transition(all, 0.5s)
  overflow: hidden
  &.is-transaction-commit-scheduled
    opacity: 1
    z-index: 2
  span
    display: inline-block
    margin-right: 20px
  button
    float: right
    @include type-setter(0.8, 0.7, normal)

@include phone

  #header-main-wrapper
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 100% //set as fixed on mobiles on load
    @include transition(all, 0.2s)
    &.navigation-visible
      left: 80%

  #header
    height: $header-height-phone

  #navigation
    top: 0
    left: 0
    right: 0
    width: auto
    overflow: hidden
    bottom: auto

  #main
    left: 0
    top: $header-height-phone

  #undo-delete-message
    top: 0
    right: 0
    left: 0
    height: $header-height-phone - 10px
    width: auto
    padding: 5px
    button
      padding: 7px 10px
